body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #eacc99;
    color: rgb(84, 22, 22);
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #eacc99;
    padding: 5px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #f1f1f1;
}
